@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.image-upload {
    text-align: center;
    border: 3px dashed #f4511e;
    padding: 1.5rem;
    position: relative;
    cursor: pointer;
}

.image-upload p {
    font-size: 0.87rem;
    margin-top: 10px;
    color: #bbcada;
}

.image-upload input {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.btn-custom {
    background-color: #f4511e;
    border-color: #f4511e;
  }

.form-title {
    color: #f4511e;
    font-family: "Roboto";
    font-weight: 700;
    text-align: center;
    padding-bottom: 3%;
}

.text-orange {
    color: #f4511e;
}

.text-700 {
    font-weight: 700;
}